<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>datvtp.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>datvtp.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>datvtp.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>datvtp.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>datvtp.controllers.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>datvtp.controllers.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestSearchController</servlet-name>
        <servlet-class>datvtp.controllers.GuestSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>datvtp.controllers.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteFoodController</servlet-name>
        <servlet-class>datvtp.controllers.AdminDeleteFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateFoodController</servlet-name>
        <servlet-class>datvtp.controllers.AdminCreateFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditFoodController</servlet-name>
        <servlet-class>datvtp.controllers.AdminEditFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateFoodController</servlet-name>
        <servlet-class>datvtp.controllers.AdminUpdateFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddToCartController</servlet-name>
        <servlet-class>datvtp.controllers.UserAddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateCartController</servlet-name>
        <servlet-class>datvtp.controllers.UserUpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPayController</servlet-name>
        <servlet-class>datvtp.controllers.UserPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchHistoryController</servlet-name>
        <servlet-class>datvtp.controllers.UserSearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchHistoryController</servlet-name>
        <servlet-class>datvtp.controllers.AdminSearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRecommendFoodController</servlet-name>
        <servlet-class>datvtp.controllers.UserRecommendFoodController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestSearchController</servlet-name>
        <url-pattern>/GuestSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/UserSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteFoodController</servlet-name>
        <url-pattern>/AdminDeleteFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateFoodController</servlet-name>
        <url-pattern>/AdminCreateFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditFoodController</servlet-name>
        <url-pattern>/AdminEditFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateFoodController</servlet-name>
        <url-pattern>/AdminUpdateFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddToCartController</servlet-name>
        <url-pattern>/UserAddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateCartController</servlet-name>
        <url-pattern>/UserUpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPayController</servlet-name>
        <url-pattern>/UserPayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchHistoryController</servlet-name>
        <url-pattern>/UserSearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchHistoryController</servlet-name>
        <url-pattern>/AdminSearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRecommendFoodController</servlet-name>
        <url-pattern>/UserRecommendFoodController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
